body {
  background-image: url('../public/img/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
}
h2,
h3,
h4 {
  color: white;
}

figure #clickButton {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.1s;
  transform: scale(0.9);
  border: 1pt #000000;
}

figure #clickButton:active {
  transform: scale(0.8);
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.upgrade {
  margin-top: 20px;
}

.upgrade button {
  margin: 5px;
}

.points {
  font-size: 1.2rem;
  margin-top: 20px;
}

.footer {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #6c757d;
}

.moving-button {
  position: absolute;
  z-index: 10;
}

.enemy-container img {
  transition: transform 0.1s;
}

.enemy-container img:active {
  transform: scale(0.9);
}
